@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  @apply max-w-screen-xl mx-auto px-5 py-10;
}

.dashboard-section {
  @apply lg:-mt-16 lg:py-0 lg:ml-72;
}

h1 {
  @apply text-[32px] md:text-[42px] lg:text-[56px] uppercase font-bold !leading-tight tracking-wide;
}

h2 {
  @apply text-[28px] md:text-[36px] lg:text-[48px] uppercase font-bold !leading-tight tracking-wide;
}

h3 {
  @apply text-[24px] md:text-[30px] lg:text-[42px] uppercase font-bold !leading-tight tracking-wide;
}

h4 {
  @apply text-[22px] md:text-[24px] lg:text-[36px] uppercase font-bold !leading-tight tracking-wide;
}

h5 {
  @apply text-[20px] md:text-[22px] lg:text-[30px] uppercase font-bold !leading-tight tracking-wide;
}

h6 {
  @apply text-[18px] md:text-[20px] lg:text-[24px] uppercase font-bold !leading-tight tracking-wide;
}

span {
  @apply text-msBlue dark:text-msLightBlue;
}

.btn {
  @apply text-base px-6 py-[12px] rounded-full border-2 font-medium uppercase tracking-wide text-white border-msBlue bg-msBlue hover:bg-msBlue/90 hover:border-msBlue/90;
}

.btn-outline {
  @apply text-msBlue bg-transparent hover:text-white hover:bg-msBlue dark:text-white;
}

.btn-sm {
  @apply border px-6 py-2;
}

.btn-xs {
  @apply border px-4 py-2;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  cursor: pointer;
  margin: 0 2px;
  padding: 3px 8px;
  border: 1px solid #cbd5e0;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.pagination li:hover {
  background-color: #edf2f7;
}

.pagination li.active {
  background-color: #0b8fac;
  color: #fff;
}
